@import '../../assets/sass/globas.scss';


    
    section.form-container {
        position: relative;
        background: #679ACE;
        width: 50%;
        margin: 0 auto;
        padding: 4rem 4rem;
        border-radius: 2rem;
        
        @media (max-width: 574px) {
            width: 80%;
        }

        &::before {
            content: '';
            position: absolute;
            top:-10px;
            left: 0;
            width: 100%;
            height: 105%;
            background: #004B99;
            border-radius: 2rem;
            transform: rotate(-5deg);
            z-index: -1 0 ;
        }
        

        h1 {
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size: 2rem;
            
        }

        
    }
