
@import '../../assets/sass/globas.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&display=swap');
.home-page{
   z-index: -1;
   .first-layout{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-clouds{
         width: 20%;
         position: relative;
         .cloud-one{
            width: 343px;
            height: 107px;
            margin: 0 2rem;
            
         }
         .cloud-two{
            position: relative;
            top: 100px;
            width: 373px;
            height: 335px;
         }
      }

      .tc-logo{
         position: relative;
         top: -50px;
         width: 302px;
         height: 231px;
      }
      .cloud-three{
         
         width: 373px;
         height: 256px;
         position: relative;
         left: 4rem;
      }
   }

   .second-layout{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text{
         position: relative;
         top: -160px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items:center;

         >img{
            margin: 1rem;
         }
         .tc-text2{
            width: 1135px;
            height: 43px;
         }
      }
      .products{
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         top: -100px;
         .product1{
            position: relative;
            left: 300px;
            width: 658px;
            height: 554px;
         }
         .powder{
            position: relative;
            top: -50px;
            width: 644px;
            height: 434px;
         }
      }
      .hearts{
         position: relative;
         top: -240px;
      }
   }

   .third-layout{
      width: 100%;
      position: relative;
   }

}