@import '../../assets/sass/globas.scss';

.page-header{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    .logos {

        >img {
            max-height: 55px;
            padding-bottom: 0.4rem;
        }
    }
    .actions {

        font-size: 15px;
        
        a:first-child {
            margin: 0 2rem;
            color: $blue;
            font-weight: 600;
            cursor: pointer;
        }

        .join-promo-btn {
            background-color: $blue;
            margin: 0 1rem;
            padding: 1rem 5rem;
            color: $white;
            font-weight: 700;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}