@import '~antd/dist/antd.css';
@import './assets/sass/globas.scss';

.main-layout{
    min-height: 100vh;
    background-color: $skyblue;
    z-index: -1000;
    .main-header{
        background-color: $white;
        position: relative;
        height: 80px;
    }
    .main-content{
        margin-top: 64px;
        
    }
}